---
import Header from "../layout/Header";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />
  <section class="flex flex-col items-center justify-center h-[86vh] bg-[#E9F4EE]">
    <h1 class="text-3xl font-bold text-emerald-600">🎉 Thank you!</h1>
    <p class="mt-2 text-lg">
      Your message has been sent. We’ll be in touch soon.
    </p>
  </section>
</Layout>
