---
import "../styles/global.css";

import "swiper/css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="https://res.cloudinary.com/dn3xpdakt/image/upload/v1756414752/blurb-01_wqrzes.png"
    />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>B4 Blurb</title>
    <meta
      name="description"
      content="The publishing industry has evolved considerably in the last decade, with digital disruption, piracy, changing reading habits, the rise of audiobooks, increased competition."
    />
    <meta
      name="keywords"
      content="publishing, ebooks, audiobooks, book marketing, digital publishing, self publishing"
    />
    <meta name="author" content="B4 Blurb" />
    <!-- Google Tag Manager -->
    <script is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-TCWC9FXX");
    </script>
    <!-- End Google Tag Manager -->
  </head>
  <body>
    <slot />
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
      (function () {
        var s1 = document.createElement("script"),
          s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/68acdba9a14f031924fce1a9/1j3hjk4ui";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
    <!--End of Tawk.to Script-->
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-TCWC9FXX"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
